body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.chat {
    display: block;
    max-width: 400px;
    height: 500px;
    margin: 64px auto 0;
    background: #333;
    border-radius: 3px;
    padding: 8px;
    position: relative;
}

.chat .title {
    display: block;
    font-size: 24px;
    height: 32px;
    line-height: 28px;
    color: white;
}

.chat .messages {
    position: absolute;
    top: 40px;
    bottom: 56px;
    left: 8px;
    right: 8px;
    background: #EDEDED;
    overflow-y: scroll;
    padding: 16px;
}

.chat .messages ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.chat .messages ul li {
    display: block;
    color: white;
    padding: 0;
    margin: 16px 0 0 0;
}

.chat .messages ul li:first-child {
    margin: 0;
}

.chat .messages ul li .chat-message {
    display: flex;
    justify-content: flex-end;
}

.chat .messages ul li .chat-message.alex {
    justify-content: flex-start;
}

.chat .messages ul li .chat-message .user {
    background: #333;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    order: 2;
    align-self: flex-end;
    display: none;
}

.chat .messages ul li .chat-message.alex .user {
    background: #9CCC65;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.chat .messages ul li .chat-message .message {
    background: #333;
    padding: 8px;
    border-radius: 3px;
    order: 1;
    line-height: 18px;
    max-width: 60%;
    word-break: break-word;
    font-size: 14px;
    hyphens: auto;
}

.chat .messages ul li .chat-message.alex .message {
    background: #9CCC65;
    margin-left: 8px;
    order: 2;
}

.chat .input {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    height: 32px;
    display: flex;
    background: white;
    padding: 8px;
}

.chat .input input {
    flex: 6;
    margin-right: 8px;
    border-radius: 3px;
    border: none;
    border-style: none;
    background: #E0E0E0;
    font-size: 14px;
    padding: 0 8px;
}

.chat .input button {
    flex: 1;
    background: #333;
    border: none;
    border-style: none;
    border-radius: 3px;
    color: #E0E0E0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
}

.chat .input button:hover {
    background: #E0E0E0;
    color: #333;
    font-weight: 500;
}